<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045346038332-o33bq3clgmtdd8lf5df8rard7hsq094q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045346038332-o33bq3clgmtdd8lf5df8rard7hsq094q</string>
	<key>API_KEY</key>
	<string>AIzaSyDa6LONv0pFc28IQv-4IMciTYzD1JVkbkw</string>
	<key>GCM_SENDER_ID</key>
	<string>1045346038332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sega.PetPasport</string>
	<key>PROJECT_ID</key>
	<string>pet-passport-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-passport-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045346038332:ios:20d903904794823d694939</string>
</dict>
</plist>